---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import Timer from "@/sections/Timer.astro";
import Gallery from "@/sections/Gallery.astro";
import Location from "@/sections/Location.astro";
import Envelopes from "@/sections/Envelopes.astro";
import DressCode from "@/sections/DressCode.astro";
---

<Layout title="Claudia & Alberto" description="Ven y celebra este día especial con nosotros">
	<main>
		<Hero />
		<Timer />
		<Location />
		<DressCode />
		<Gallery />
		<Envelopes />
	</main>
</Layout>
