---
---

<div class="w-full h-[100vw] lg:h-full overflow-hidden">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3620.4!2d-104.68174!3d23.9781312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x869bc7ea993e8e35%3A0x3229a118b8dbc60f!2sFraccionamiento%20Las%20Calzadas!5e0!3m2!1ses!2smx!4v1"
        class="w-full h-full grayscale contrast-125"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
</div>
