<div class="flex flex-col absolute -right-3 -top-10">
    <span class="span_date_1">11</span>
    <span class="span_date">04</span>
    <span class="span_date">26</span>
</div>

<style>
    .span_date, .span_date_1 {
        font-family: var(--secondary-font);
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: .5rem;
        line-height: 1;
    }
    .span_date_1 {
        letter-spacing: 2rem;
        padding-left: 5px;
    }
</style>