---
// import heroImage from "@/assets/images/hero.webp";
import Image from "astro/components/Image.astro";
---
<section id="home">
    <!-- <Image src={heroImage} alt="Claudia & Alberto" class="w-full h-lvh"/> -->
</section>