---
import SectionContainer from "@/components/SectionContainer.astro";
import DirectionStep from "@/components/DirectionStep.astro";
import Map from "@/components/Map.astro";
---

<SectionContainer>
    <div class="space-y-8">
        <div class="space-y-3">
            <p class="font-extrabold tracking-widest">
                Te esperamos en
                <a
                    href="https://www.google.com/maps/place/Las+Calzadas+Fraccionamiento/@23.9781144,-104.6843361,16.91z/data=!4m6!3m5!1s0x869bc7ea993e8e35:0x3229a118b8dbc60f!8m2!3d23.9781312!4d-104.68174!16s%2Fg%2F11crs7y1wl?entry=ttu&g_ep=EgoyMDI2MDMxOC4wIKXMDSoASAFQAw%3D%3D"
                    class="underline decoration-1 underline-offset-[3px] opacity-60 hover:opacity-100 transition-opacity duration-200"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <i>Fraccionamiento Las Calzadas</i>
                </a>
            </p>
            <p class="opacity-60 text-sm leading-relaxed">
                Ubicado al sur de la ciudad, la indicacion del mapa te lleva
                a la entrada del fraccionamiento. Sigue las siguientes instrucciones
                para llegar al lugar del evento.
            </p>
        </div>

        <hr class="border-t border-current opacity-10" />

        <div class="lg:flex lg:items-stretch lg:gap-12">
            <ol class="space-y-6 list-none lg:flex-1">
                <DirectionStep step="01">Una vez cruces el letrero de 'Las Calzadas', gira a la derecha en la calle (poner calle)</DirectionStep>
                <DirectionStep step="02">Cuando veas el letrero...</DirectionStep>
                <DirectionStep step="03">Indica que vas a <mark class="bg-transparent font-black italic">Los Duraznos 119</mark>.</DirectionStep>
                <DirectionStep step="04">Sigue recto hasta ver un parque.</DirectionStep>
                <DirectionStep step="05">Sigue derecho hasta que encuentres la pared final del fraccionamiento.</DirectionStep>
                <DirectionStep step="06">Gira a la derecha y del lado derecho estara el lugar del evento.</DirectionStep>
            </ol>
            <div class="lg:flex-1 lg:self-stretch mt-8 lg:mt-0">
                <Map />
            </div>
        </div>
    </div>
</SectionContainer>
