---
import "@/styles/global.css";

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Boda de Claudia & Alberto" />
		<link rel="icon" type="image/svg+xml" href="/images/img-2.webp" />
		<title>Claudia & Alberto</title>
		<meta name="description" content={description} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={`${Astro.site}openGraph.png`} />
	</head>
	<body>
		<slot />
	</body>
</html>
